

NET "BA[0]" LOC = R14;
NET "BA[1]" LOC = T14;
NET "DQ[0]" LOC = T13;
NET "DQ[1]" LOC = T12;
NET "DQ[2]" LOC = R12;
NET "DQ[3]" LOC = T9;
NET "DQ[4]" LOC = R9;
NET "DQ[5]" LOC = T7;
NET "DQ[6]" LOC = R7;
NET "DQ[7]" LOC = T6;
NET "DQ[8]" LOC = F16;
NET "DQ[9]" LOC = E15;
NET "DQ[10]" LOC = E16;
NET "DQ[11]" LOC = D16;
NET "DQ[12]" LOC = B16;
NET "DQ[13]" LOC = B15;
NET "DQ[14]" LOC = C16;
NET "DQ[15]" LOC = C15;


NET "BA[0]" IOSTANDARD = LVTTL;
NET "BA[1]" IOSTANDARD = LVTTL;
NET "DATA_IMAGE[0]" IOSTANDARD = LVCMOS25;
NET "DATA_IMAGE[1]" IOSTANDARD = LVCMOS25;
NET "DATA_IMAGE[2]" IOSTANDARD = LVCMOS25;
NET "DATA_IMAGE[3]" IOSTANDARD = LVCMOS25;
NET "DATA_IMAGE[4]" IOSTANDARD = LVCMOS25;
NET "DATA_IMAGE[5]" IOSTANDARD = LVCMOS25;
NET "DATA_IMAGE[6]" IOSTANDARD = LVCMOS25;
NET "DATA_IMAGE[7]" IOSTANDARD = LVCMOS25;
NET "DATA_IMAGE[8]" IOSTANDARD = LVCMOS25;
NET "DATA_IMAGE[9]" IOSTANDARD = LVCMOS25;
NET "DQ[0]" IOSTANDARD = LVTTL;
NET "DQ[1]" IOSTANDARD = LVTTL;
NET "DQ[2]" IOSTANDARD = LVTTL;
NET "DQ[3]" IOSTANDARD = LVTTL;
NET "DQ[4]" IOSTANDARD = LVTTL;
NET "DQ[5]" IOSTANDARD = LVTTL;
NET "DQ[6]" IOSTANDARD = LVTTL;
NET "DQ[7]" IOSTANDARD = LVTTL;
NET "DQ[8]" IOSTANDARD = LVTTL;
NET "DQ[9]" IOSTANDARD = LVTTL;
NET "DQ[10]" IOSTANDARD = LVTTL;
NET "DQ[11]" IOSTANDARD = LVTTL;
NET "DQ[12]" IOSTANDARD = LVTTL;
NET "DQ[13]" IOSTANDARD = LVTTL;
NET "DQ[14]" IOSTANDARD = LVTTL;
NET "DQ[15]" IOSTANDARD = LVTTL;


NET "CAS_N" LOC = T4;
NET "CKE" LOC = H16;
NET "CS_N" LOC = R1;
NET "DRAM_CLK" LOC = G16;
NET "LDQM" LOC = T5;
NET "RAS_N" LOC = R2;
NET "SA[0]" LOC = T15;
NET "SA[1]" LOC = R16;
NET "SA[2]" LOC = P15;
NET "SA[3]" LOC = P16;
NET "SA[4]" LOC = N16;
NET "SA[5]" LOC = M15;
NET "SA[6]" LOC = M16;
NET "SA[7]" LOC = L16;
NET "SA[8]" LOC = K15;
NET "SA[9]" LOC = K16;
NET "SA[10]" LOC = R15;
NET "SA[11]" LOC = J16;
NET "SA[12]" LOC = H15;
NET "UDQM" LOC = F15;


NET "CAS_N" IOSTANDARD = LVTTL;
NET "CKE" IOSTANDARD = LVTTL;
NET "CS_N" IOSTANDARD = LVTTL;
NET "LDQM" IOSTANDARD = LVTTL;
NET "RAS_N" IOSTANDARD = LVTTL;
NET "SA[0]" IOSTANDARD = LVTTL;
NET "SA[1]" IOSTANDARD = LVTTL;
NET "SA[2]" IOSTANDARD = LVTTL;
NET "SA[3]" IOSTANDARD = LVTTL;
NET "SA[4]" IOSTANDARD = LVTTL;
NET "SA[5]" IOSTANDARD = LVTTL;
NET "SA[6]" IOSTANDARD = LVTTL;
NET "SA[7]" IOSTANDARD = LVTTL;
NET "SA[8]" IOSTANDARD = LVTTL;
NET "SA[9]" IOSTANDARD = LVTTL;
NET "SA[10]" IOSTANDARD = LVTTL;
NET "SA[11]" IOSTANDARD = LVTTL;
NET "SA[12]" IOSTANDARD = LVTTL;
NET "UDQM" IOSTANDARD = LVTTL;
NET "WE_N" IOSTANDARD = LVTTL;


NET "TMDS_CLOCK_P" LOC = B14;
NET "TMDS_POSITIVE[0]" LOC = C13;
NET "TMDS_POSITIVE[1]" LOC = B12;
NET "TMDS_POSITIVE[2]" LOC = C11;
NET "WE_N" LOC = R5;


NET "CLOCK_IN" IOSTANDARD = LVCMOS33;
NET "DRAM_CLK" IOSTANDARD = LVTTL;
NET "TMDS_CLOCK_N" IOSTANDARD = TMDS_33;
NET "TMDS_CLOCK_P" IOSTANDARD = TMDS_33;
NET "TMDS_NEGTIVE[0]" IOSTANDARD = TMDS_33;
NET "TMDS_POSITIVE[0]" IOSTANDARD = TMDS_33;
NET "TMDS_NEGTIVE[1]" IOSTANDARD = TMDS_33;
NET "TMDS_POSITIVE[1]" IOSTANDARD = TMDS_33;
NET "TMDS_NEGTIVE[2]" IOSTANDARD = TMDS_33;
NET "TMDS_POSITIVE[2]" IOSTANDARD = TMDS_33;
NET "TMDS_CLOCK_N" PULLUP;
NET "TMDS_CLOCK_P" PULLUP;
NET "TMDS_NEGTIVE[0]" PULLUP;
NET "TMDS_NEGTIVE[1]" PULLUP;
NET "TMDS_NEGTIVE[2]" PULLUP;
NET "TMDS_POSITIVE[0]" PULLUP;
NET "TMDS_POSITIVE[1]" PULLUP;
NET "TMDS_POSITIVE[2]" PULLUP;


NET "CLOCK_IN" LOC = K3;


NET "DATA_IMAGE[0]" LOC = E11;
NET "DATA_IMAGE[1]" LOC = E12;
NET "DATA_IMAGE[2]" LOC = D12;
NET "DATA_IMAGE[3]" LOC = F13;
NET "DATA_IMAGE[4]" LOC = E13;
NET "DATA_IMAGE[5]" LOC = F14;
NET "DATA_IMAGE[6]" LOC = F12;
NET "DATA_IMAGE[7]" LOC = G14;
NET "DATA_IMAGE[8]" LOC = G12;
NET "DATA_IMAGE[9]" LOC = H14;
NET "FRAME_VALID" LOC = B3;
//NET "INT_TIME1" LOC = A4;
//NET "INT_TIME2" LOC = G5;
//NET "INT_TIME3" LOC = A3;
NET "LINE_VALID" LOC = A2;
NET "LUPA_CLK" LOC = D14;
NET "LUPA_RST" LOC = D5;
NET "SPI_CLK" LOC = D3;
NET "SPI_DAT" LOC = C3;
NET "SPI_EN" LOC = E3;


NET "LUPA_RST" IOSTANDARD = LVCMOS33;


NET "FRAME_VALID" IOSTANDARD = LVCMOS25;

NET "LINE_VALID" IOSTANDARD = LVCMOS25;
NET "LUPA_CLK" IOSTANDARD = LVCMOS33;
NET "SPI_CLK" IOSTANDARD = LVCMOS33;
NET "SPI_DAT" IOSTANDARD = LVCMOS33;
NET "SPI_EN" IOSTANDARD = LVCMOS33;


NET "LED_indicate[0]" LOC = P11;
NET "LED_indicate[1]" LOC = N9;
NET "LED_indicate[2]" LOC = M9;
NET "LED_indicate[3]" LOC = P9;
NET "LED_indicate[4]" LOC = T8;
NET "LED_indicate[5]" LOC = N8;
NET "LED_indicate[6]" LOC = P8;
NET "LED_indicate[7]" LOC = P7;


NET "LED_indicate[0]" IOSTANDARD = LVCMOS33;
NET "LED_indicate[1]" IOSTANDARD = LVCMOS33;
NET "LED_indicate[2]" IOSTANDARD = LVCMOS33;
NET "LED_indicate[3]" IOSTANDARD = LVCMOS33;
NET "LED_indicate[4]" IOSTANDARD = LVCMOS33;
NET "LED_indicate[5]" IOSTANDARD = LVCMOS33;
NET "LED_indicate[6]" IOSTANDARD = LVCMOS33;
NET "LED_indicate[7]" IOSTANDARD = LVCMOS33;




NET "DATA_IMAGE[0]" SLEW = SLOW;
NET "DATA_IMAGE[1]" SLEW = SLOW;
NET "DATA_IMAGE[2]" SLEW = SLOW;
NET "DATA_IMAGE[3]" SLEW = SLOW;
NET "DATA_IMAGE[4]" SLEW = SLOW;
NET "DATA_IMAGE[5]" SLEW = SLOW;
NET "DATA_IMAGE[6]" SLEW = SLOW;
NET "DATA_IMAGE[7]" SLEW = SLOW;
NET "DATA_IMAGE[8]" SLEW = SLOW;
NET "DATA_IMAGE[9]" SLEW = SLOW;


NET "DQ[0]" DRIVE = 12;
NET "DQ[1]" DRIVE = 12;
NET "DQ[2]" DRIVE = 12;
NET "DQ[3]" DRIVE = 12;
NET "DQ[4]" DRIVE = 12;
NET "DQ[5]" DRIVE = 12;
NET "DQ[6]" DRIVE = 12;
NET "DQ[7]" DRIVE = 12;
NET "DQ[8]" DRIVE = 12;
NET "DQ[9]" DRIVE = 12;
NET "DQ[10]" DRIVE = 12;
NET "DQ[11]" DRIVE = 12;
NET "DQ[12]" DRIVE = 12;
NET "DQ[13]" DRIVE = 12;
NET "DQ[14]" DRIVE = 12;
NET "DQ[15]" DRIVE = 12;
NET "FRAME_VALID" SLEW = SLOW;
NET "LINE_VALID" SLEW = SLOW;




NET "DRAM_CLK" DRIVE = 12;
NET "FRAME_VALID" DRIVE = 12;


NET "LED_indicate[0]" SLEW = SLOW;
NET "LED_indicate[1]" SLEW = SLOW;
NET "LED_indicate[2]" SLEW = SLOW;
NET "LED_indicate[3]" SLEW = SLOW;
NET "LED_indicate[4]" SLEW = SLOW;
NET "LED_indicate[5]" SLEW = SLOW;
NET "LED_indicate[6]" SLEW = SLOW;
NET "LED_indicate[7]" SLEW = SLOW;




NET "INT_TIME1" LOC = A4;
NET "INT_TIME2" LOC = G5;
NET "INT_TIME3" LOC = A3;




NET "SPI_CLK" DRIVE = 12;


NET "DATA_IMAGE[0]" DRIVE = 12;
NET "DATA_IMAGE[1]" DRIVE = 12;
NET "DATA_IMAGE[2]" DRIVE = 12;
NET "DATA_IMAGE[3]" DRIVE = 12;
NET "DATA_IMAGE[4]" DRIVE = 12;
NET "DATA_IMAGE[5]" DRIVE = 12;
NET "DATA_IMAGE[6]" DRIVE = 12;
NET "DATA_IMAGE[7]" DRIVE = 12;
NET "DATA_IMAGE[8]" DRIVE = 12;
NET "DATA_IMAGE[9]" DRIVE = 12;
NET "LED_indicate[0]" DRIVE = 12;
NET "LED_indicate[1]" DRIVE = 12;
NET "LED_indicate[2]" DRIVE = 12;
NET "LED_indicate[3]" DRIVE = 12;
NET "LED_indicate[4]" DRIVE = 12;
NET "LED_indicate[5]" DRIVE = 12;
NET "LED_indicate[6]" DRIVE = 12;
NET "LED_indicate[7]" DRIVE = 12;
NET "DATA_IMAGE[0]" PULLUP;
NET "DATA_IMAGE[1]" PULLUP;
NET "DATA_IMAGE[2]" PULLUP;
NET "DATA_IMAGE[3]" PULLUP;
NET "DATA_IMAGE[4]" PULLUP;
NET "DATA_IMAGE[5]" PULLUP;
NET "DATA_IMAGE[6]" PULLUP;
NET "DATA_IMAGE[7]" PULLUP;
NET "DATA_IMAGE[8]" PULLUP;
NET "DATA_IMAGE[9]" PULLUP;
NET "FRAME_VALID" PULLUP;
NET "LINE_VALID" PULLUP;


NET "INT_TIME1" IOSTANDARD = LVCMOS33;
NET "INT_TIME2" IOSTANDARD = LVTTL;
NET "INT_TIME3" IOSTANDARD = LVTTL;
NET "INT_TIME1" DRIVE = 12;


NET "LUPA_RST" DRIVE = 12;




NET "RAS_N" DRIVE = 12;


NET "WE_N" DRIVE = 12;


