//! **************************************************************************
// Written by: Map O.76xd on Mon Aug 22 12:13:02 2016
//! **************************************************************************

SCHEMATIC START;
COMP "LUPA_CLK" LOCATE = SITE "D14" LEVEL 1;
COMP "LUPA_RST" LOCATE = SITE "D5" LEVEL 1;
COMP "SPI_DAT" LOCATE = SITE "C3" LEVEL 1;
COMP "SPI_CLK" LOCATE = SITE "D3" LEVEL 1;
COMP "CKE" LOCATE = SITE "H16" LEVEL 1;
COMP "LDQM" LOCATE = SITE "T5" LEVEL 1;
COMP "CS_N" LOCATE = SITE "R1" LEVEL 1;
COMP "UDQM" LOCATE = SITE "F15" LEVEL 1;
COMP "WE_N" LOCATE = SITE "R5" LEVEL 1;
COMP "BA<0>" LOCATE = SITE "R14" LEVEL 1;
COMP "BA<1>" LOCATE = SITE "T14" LEVEL 1;
COMP "DQ<0>" LOCATE = SITE "T13" LEVEL 1;
COMP "DQ<1>" LOCATE = SITE "T12" LEVEL 1;
COMP "DQ<2>" LOCATE = SITE "R12" LEVEL 1;
COMP "DQ<3>" LOCATE = SITE "T9" LEVEL 1;
COMP "DQ<4>" LOCATE = SITE "R9" LEVEL 1;
COMP "DQ<5>" LOCATE = SITE "T7" LEVEL 1;
COMP "DQ<6>" LOCATE = SITE "R7" LEVEL 1;
COMP "DQ<7>" LOCATE = SITE "T6" LEVEL 1;
COMP "DQ<8>" LOCATE = SITE "F16" LEVEL 1;
COMP "DQ<9>" LOCATE = SITE "E15" LEVEL 1;
COMP "CAS_N" LOCATE = SITE "T4" LEVEL 1;
COMP "SA<0>" LOCATE = SITE "T15" LEVEL 1;
COMP "SA<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "SA<2>" LOCATE = SITE "P15" LEVEL 1;
COMP "SA<3>" LOCATE = SITE "P16" LEVEL 1;
COMP "SA<4>" LOCATE = SITE "N16" LEVEL 1;
COMP "SA<5>" LOCATE = SITE "M15" LEVEL 1;
COMP "SA<6>" LOCATE = SITE "M16" LEVEL 1;
COMP "SA<7>" LOCATE = SITE "L16" LEVEL 1;
COMP "SA<8>" LOCATE = SITE "K15" LEVEL 1;
COMP "SA<9>" LOCATE = SITE "K16" LEVEL 1;
COMP "RAS_N" LOCATE = SITE "R2" LEVEL 1;
COMP "DATA_IMAGE<0>" LOCATE = SITE "E11" LEVEL 1;
COMP "DATA_IMAGE<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "DATA_IMAGE<2>" LOCATE = SITE "D12" LEVEL 1;
COMP "DATA_IMAGE<3>" LOCATE = SITE "F13" LEVEL 1;
COMP "DATA_IMAGE<4>" LOCATE = SITE "E13" LEVEL 1;
COMP "DATA_IMAGE<5>" LOCATE = SITE "F14" LEVEL 1;
COMP "DATA_IMAGE<6>" LOCATE = SITE "F12" LEVEL 1;
COMP "DATA_IMAGE<7>" LOCATE = SITE "G14" LEVEL 1;
COMP "DATA_IMAGE<8>" LOCATE = SITE "G12" LEVEL 1;
COMP "DATA_IMAGE<9>" LOCATE = SITE "H14" LEVEL 1;
COMP "DQ<10>" LOCATE = SITE "E16" LEVEL 1;
COMP "DQ<11>" LOCATE = SITE "D16" LEVEL 1;
COMP "DQ<12>" LOCATE = SITE "B16" LEVEL 1;
COMP "DQ<13>" LOCATE = SITE "B15" LEVEL 1;
COMP "DQ<14>" LOCATE = SITE "C16" LEVEL 1;
COMP "DQ<15>" LOCATE = SITE "C15" LEVEL 1;
COMP "SA<10>" LOCATE = SITE "R15" LEVEL 1;
COMP "SA<11>" LOCATE = SITE "J16" LEVEL 1;
COMP "SA<12>" LOCATE = SITE "H15" LEVEL 1;
COMP "TMDS_POSITIVE<0>" LOCATE = SITE "C13" LEVEL 1;
COMP "TMDS_POSITIVE<1>" LOCATE = SITE "B12" LEVEL 1;
COMP "TMDS_POSITIVE<2>" LOCATE = SITE "C11" LEVEL 1;
COMP "SPI_EN" LOCATE = SITE "E3" LEVEL 1;
COMP "LED_indicate<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "LED_indicate<1>" LOCATE = SITE "N9" LEVEL 1;
COMP "LED_indicate<2>" LOCATE = SITE "M9" LEVEL 1;
COMP "LED_indicate<3>" LOCATE = SITE "P9" LEVEL 1;
COMP "LED_indicate<4>" LOCATE = SITE "T8" LEVEL 1;
COMP "LED_indicate<5>" LOCATE = SITE "N8" LEVEL 1;
COMP "LED_indicate<6>" LOCATE = SITE "P8" LEVEL 1;
COMP "LED_indicate<7>" LOCATE = SITE "P7" LEVEL 1;
COMP "LINE_VALID" LOCATE = SITE "A2" LEVEL 1;
COMP "TMDS_CLOCK_P" LOCATE = SITE "B14" LEVEL 1;
COMP "CLOCK_IN" LOCATE = SITE "K3" LEVEL 1;
COMP "DRAM_CLK" LOCATE = SITE "G16" LEVEL 1;
COMP "INT_TIME1" LOCATE = SITE "A4" LEVEL 1;
COMP "FRAME_VALID" LOCATE = SITE "B3" LEVEL 1;
SCHEMATIC END;

